<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>پروژه کارشناسی-زامبی کوکی</title>
	<!-- Start Stylesheets -->
	<link rel="stylesheet" href="static/css/bootstrap-rtl.min.css" type="text/css" />
	<link rel="stylesheet" href="static/slick/slick.css" type="text/css" />
	<link rel="stylesheet" href="static/slick/slick-theme.css" type="text/css" />
	<link rel="stylesheet" href="static/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <!-- End Stylesheets -->
    <style>
    a:link, a:visited {
        /* background-color: white;
        color: black;
        padding: 10px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block; */

        color: black;
        background-color: white;
        padding: 10px 40px;
        display: block;
        margin-bottom: 6px;
        text-align: center;
      }
      
      a:hover, a:active {
        background-color: white;
      }
      </style>

</head>
<body>
	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>

	<div class="tm-main-container">
		<div class="tm-top-container">
			<!-- Menu -->
			<nav id="tmNav" class="tm-nav">
				<a class="tm-navbar-menu" href="#">منو</a>
				<ul class="tm-nav-links">
					<li class="tm-nav-item active">
                        <a href="{% url 'index' %}"  >صفحه نخست </a>
						
					</li>
					{% if not request.user.is_authenticated %}
					<li class="tm-nav-item">
                        <a href="{% url 'signin' %}"  >ورود </a>
						
					</li>
					{% endif%}
					{% if not request.user.is_authenticated %}
					<li class="tm-nav-item">
                        <a href="{% url 'signup' %}" >ثبت نام </a>
						
					</li>
					{% endif%}
					{% if request.user.is_authenticated %}
					<li class="tm-nav-item">
                        <a href="{% url 'signout' %}" >خروج </a>
						
					</li>
					{% endif%}
				</ul>
			</nav>

			<header class="tm-site-header-box tm-bg-dark">
				{% if request.user.is_authenticated %}
                <!-- <li> -->
					 <p><strong>حساب کاربری {{ user.username }} </strong></p> 
                <!-- </li> -->
                {% endif%}
				<h1 class="tm-site-title">ZOMBIE COOKIES</h1>
				<p class="mb-0 tm-site-subtitle">پیاده سازی پروژه کارشناسی</p>
			</header>
		</div>
		<!-- tm-top-container -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- Site content -->
					<div class="tm-content">
						<!-- Section 0 Introduction -->
						<section class="tm-section tm-section-0">
							<h2 class="tm-section-title mb-3 font-weight-bold">هدف پروژه</h2>
							<div class="tm-textbox tm-bg-dark">
								<p>کاربردی از ردیابی کاربران در وب که در این پروژه مورد بحث است استفاده از اطلاعات کاربران در مرحله احراز هویت هنگام ورود به سایت می باشد. احراز هویت  فرایند تایید هویت است و هر کاربر با یک شناسه منحصر به فرد مرتبط شده است که معمولا نام کاربری  می باشد. روش معمول این است که ترکیبی از  نام کاربری و رمز عبور  برای احراز هویت کاربر استفاده شود. علاوه بر احراز هویت محلی از روش های دیگری نیز می توان برای احراز هویت کاربر استفاده کرد. در این پروژه قصد بر آن است که از روش های ردیابی وب مثل اثر انگشت مرورگر ، اثر انگشت بوم و کوکی زامبی برای احراز هویت استفاده شود.</p>
							</div>	
            </section>
          </div>
        </div>
      </div>
		</div>
	</div>

	<!-- Start Scripts -->
	<script src="static/js/jquery-1.11.0.min.js"></script>
	<script src="static/js/background.cycle.js"></script>
	<script src="static/slick/slick.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/scripts.js"></script>
	<!-- End Scripts -->

<!-- zomboe cookie scripts -->
<script src="/static/js/zombiecookie.js" ></script>  

 <!-- auto login script  -->
{% if not request.user.is_authenticated %}
      {% if not messages %}
        <script>
          var zombieCookieValue = getCookie("persistent-user-id", function(res){
          if (res !== null){
              setCookie("persistent-user-id", res, 1000);
              $.ajax({
              type : "GET",
              url: 'ajax/', 
              data: {
              'cookieval': res,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              })
  
          }
  
      },0);
      </script>
      {% endif %}
{% endif%}
<!-- END auto login script  -->
    

    {% if messages %}
      {% for message in messages %}
        {% if "signup" in message.tags %}
        <P>{{ message }} </P>
          <script>
              var zcookie = "{{ message }}";
              setCookie("persistent-user-id",zcookie , 1000);
          </script>
        {% elif "signin" in message.tags %}
        <P>{{ message }} </P>
          <script>
              var zcookie = "{{ message }}";
              setCookie("persistent-user-id",zcookie , 1000);
          </script>
        {% endif %}
      {% endfor %}
    {% else %}
    <!-- if cookie has been deleted this script make it again -->
      <script>
        var zombieCookieValue = getCookie("persistent-user-id", function(res){
        if (res !== null){
            setCookie("persistent-user-id", res, 1000);
        }
      },0);
      </script>
    <!-- END if cookie has been deleted this script make it again -->
    {% endif %}
</body><!-- This template has been downloaded from Webrubik.com -->
</html>
