<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>خروج-زامبی کوکی</title>
	<!-- Start Stylesheets -->
	<link rel="stylesheet" href="static/css/bootstrap-rtl.min.css" type="text/css" />
	<link rel="stylesheet" href="static/slick/slick.css" type="text/css" />
	<link rel="stylesheet" href="static/slick/slick-theme.css" type="text/css" />
	<link rel="stylesheet" href="static/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <!-- End Stylesheets -->
    <style>
    a:link, a:visited {
        color: black;
        background-color: white;
        padding: 10px 40px;
        display: block;
        margin-bottom: 6px;
        text-align: center;
      }
      
      a:hover, a:active {
        background-color: white;
      }
      </style>

</head>
<body>
	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>

	<div class="tm-main-container">
		<div class="tm-top-container">
			<!-- Menu -->
			<nav id="tmNav" class="tm-nav">
				<a class="tm-navbar-menu" href="#">منو</a>
				<ul class="tm-nav-links">
					<li class="tm-nav-item active">
                        <a href="{% url 'index' %}"  >صفحه نخست </a>
					</li>
					{% if not request.user.is_authenticated %}
					<li class="tm-nav-item">
                        <a href="{% url 'signin' %}"  >ورود </a>
					</li>
					{% endif%}
					{% if not request.user.is_authenticated %}
					<li class="tm-nav-item">
                        <a href="{% url 'signup' %}" >ثبت نام </a>
					</li>
					{% endif%}
					{% if request.user.is_authenticated %}
					<li class="tm-nav-item">
                        <a href="{% url 'signout' %}" >خروج </a>
					</li>
					{% endif%}
				</ul>
			</nav>

			<header class="tm-site-header-box tm-bg-dark">
				{% if request.user.is_authenticated %}
                <!-- <li> -->
					 <p><strong>حساب کاربری {{ user.username }} </strong></p> 
                <!-- </li> -->
				{% endif%}
				<h1> ZOMBIE COOKIES</h1>
				<h3 class="tm-site-title">شما از حساب کاربری خود خارج شده اید</h3>
				<p class="mb-0 tm-site-subtitle" style="color: #FF416C;"> برای بازگشت به صفحه اصلی از منو گزینه صفحه نخست را انتخاب کنید </p>
			</header>
		</div>
	</div>

	<!-- Start Scripts -->
	<script src="static/js/jquery-1.11.0.min.js"></script>
	<script src="static/js/background.cycle.js"></script>
	<script src="static/slick/slick.min.js"></script>
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/scripts.js"></script>
	<!-- End Scripts -->


</body><!-- This template has been downloaded from Webrubik.com -->
</html>
