<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>عضویت-زامبی کوکی</title>
	<!-- start css and styles -->
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link type="text/css" href="/static/css/signstyle.css" rel="stylesheet" />
    <!-- end css and styles -->
	<link rel="shortcut icon" href="">
	<style>
		body {
		  background-image: url("/static/pics/photo-02.jpg");
		}
		</style>
</head>
<body>
	<p> ZOMBIE COOKIES</p>
					<li class="tm-nav-item active">
						<button class="ghost" style="background: rosybrown;" > <a  href="{% url 'index' %}">صفحه نخست</a></button>
					</li>
					<p> </p>
	<div class="container left-panel-active" id="container">
		<!-- start sing up form -->
		<div class="form-container sign-up-container">
			<form method="POST" action = "{% url 'signup'%}">
				{% csrf_token%}
				<h1>ایجاد حساب</h1>
				<span> با ایمیل خود حساب ایجاد کنید</span>
					<div class="form-group">
					{{form.username}}
				  </div>
				  {% if form.username.errors %}
				  <p style="color: red">
					{% for error in form.username.errors %}
					{{ error }}
					{% endfor %}
				</p>
				{% endif %}
					<div class="form-group">
					{{form.email }}
				  </div>
				{% if form.email.errors %}
				  <p style="color: red">
					{% for error in form.email.errors %}
					{{ error }}
					{% endfor %}
				</p>
				{% endif %}
					<div class="form-group">
					{{form.password1 }}
				  </div>
				  {% if form.password1.errors %}
				  <p style="color: red">
					{% for error in form.password1.errors %}
					{{ error }}
					{% endfor %}
				</p>
				{% endif %}

					<div class="form-group">
					{{form.password2 }}
					</div>
				{% if form.password2.errors %}
					<p style="color: red">
					{% for error in form.password2.errors %}
					{{ error }}
					{% endfor %}
					</p>
				{% endif %}
				<button type="submit">عضویت</button> 
			</form>
		</div>

		<div class="overlay-container">
			<div class="overlay">
				<!-- start sing in overlay -->
				<div class="overlay-panel overlay-right">
					<h1>خوش آمدید</h1>
					<p>برای برقراری ارتباط با ما لطفا حساب کاربری خود را ایجاد کنید</p>
					<button class="ghost" id="signIn"> <a  style="  color: white;" href="{% url 'signin' %}">ورود</a></button>
				</div>
			</div>
		</div>
	</div>


</body><!-- This template has been downloaded from Webrubik.com -->
</html>
