<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ورود-زامبی کوکی</title>
	<!-- start css and styles -->
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link type="text/css" href="/static/css/signstyle.css" rel="stylesheet" />
    <!-- end css and styles -->
	<link rel="shortcut icon" href="">
	<style>
		body {
		  background-image: url("/static/pics/photo-02.jpg");
		}
		</style>

</head>
<body>
	<p> ZOMBIE COOKIES</p>
	<li class="tm-nav-item active">
		<button class="ghost" style="background: rosybrown;" > <a  href="{% url 'index' %}">صفحه نخست</a></button>
	</li>
	<p> </p>
	<div class="container" id="container">
				<!-- start sing in form -->
		<div class="form-container sign-in-container">
			<form method="POST" action = "{% url 'signin'%}">
				<h1>ورود</h1>
				<span>یا با حساب خود وارد شوید</span>
				{% csrf_token%}
				<div class="form-group">
					<label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
					{{form.username}}
				</div>
				<div class="form-group">
					<label for="pass"><i class="zmdi zmdi-lock"></i></label>
					{{form.password }}
				</div>				
				{% if messages %}
				<p style="color: red"></p>
				{% for message in messages %} {{ message }} {% endfor %}
				</p>
				{% endif %}
				<button type="submit">ورود</button>
			</form>
		</div>
		<!-- end sing in form -->
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>سلام، دوست خوبم</h1>
					<p>وارد حساب کاربری خود شوید و با ما به کشف جهان بپردازید</p>
					<button class="ghost" id="signIn"> <a style="  color: white;" href="{% url 'signup' %}">عضویت</a></button>
				</div>
				<!-- end sing up overlay -->
			</div>
		</div>
	</div>

</body><!-- This template has been downloaded from Webrubik.com -->
</html>
